* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('bg.png')no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.wrapper {
    width: 420px;
     background:transparent;
     border: 1px solid rgba(255, 255, 255, 2);
     backdrop-filter: blur(5px);
     box-shadow: 0 0 10px rgba(0, 0, 0, 2);
     color: #fff;
     border-radius: 10px;
     padding: 30px 40px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #eee;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
}

.input-box i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #61eb61;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: orange;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: orange;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
